.foodForm {
    margin-top: 5rem;
    margin-left: 3rem;
}

.foodForm input {
    display: block;
    margin: 1.25rem;
    width: 15rem;
}

.foodForm select {
    display: block;
    margin: 1.25rem;
    width: 15rem;
}

.wrongInput {
    outline-color: rgb(255, 40, 40);
}

.correctInput {
    outline-color: black;
}